doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nasa APP
    body
        include ./up_bar.pug
        h1= "The sssNASA"
        img(src=imgUrl)
        p=description
        