nav
    ul#menuBar
        li 
            a(href="/") Home
        li 
            a(href="/landing") Landings
        li 
            a(href="/users") Users
        li 
            a(href="/register") Register
        